!{% for login in auth %}
username {{ login.username }} privilege 15 secret {{ login.password | sha512_crypt }}
{% endfor %}!
hostname {{ hostname }}
!
vrf instance management
   rd 1:1
!{% for interface in interfaces %}
interface {{ interface.name }}
    description "To {{ interface.destination }} {{ interface.destination_interface }}"
    no switchport
    ip address {{ interface.address }}
!{% endfor %}
interface Loopback0
   ip address {{ loopback.address }}
!
interface Management0
   vrf management
!
ip routing
no ip routing vrf management
!
ip route vrf management 0.0.0.0/0 172.20.20.1
!
router ospf 1
   router-id {{ router_id }}
   network 10.0.0.0/15 area 0.0.0.0
